<div>
	
	<h3>
		<a href="http://www.intrepidem.net/zuni" target="_blank">Cibola Data Analysis App</a><i class="fa fa-external-link" aria-hidden="true"></i>
	</h3>

	<p>This project is a collaboration with <a href="https://www.samfee.net">Dr. Sam Fee</a> from <a href="">Washington &amp; Jefferson College</a> in Washington, PA. Archaeologist working in the field, in this case, the Southwest USA, often do not have access to an internet connection. This app would allow the scientist to collect data on their finds, replacing the existing paper method. A few benefits of this include data validation upon entry, local storage of the data that can later be synced to a remote service once a connection is established, and the ability to easily view and edit existing entries.</p>

	<p>This application is in active development (2016-2017).</p>

	<div class="details-img niceGray-bg">
		<img src="../img/cibola-dash.png" alt="screenshot of Cibola app">
	</div>

	<p>
		Project type: <strong>iPad design, web application development</strong><br>
		Technologies used: <strong>HTML, CSS, Adobe Photoshop CC, Angular, Git, Node and NPM, local storage</strong>
	</p>

	<div class="details-img">
		<img src="../img/cibola-new.png" alt="screenshot of Cibola new entry screen">
		<img src="../img/cibola-collapsed.png" alt="screenshot of Cibola collapsed fields">
	</div>

	<div class="details-img niceGray-bg">
		<img src="../img/cibola-saved.png" alt="screenshot of cibola saved icons">
	</div>

</div>