<div class="contact">
	
	<div>
		<h2>Contact Me</h2>
		<p>Thanks for visiting! I'd love to work with you on a project.</p>
		<p><strong>Email:</strong> <a class="orange" href="mailto:kauffmanes@gmail.com">kauffmanes@gmail.com</a></p>
		<p><strong>Location:</strong> Pittsburgh, PA, USA</p>
	</div>

	<div class="niceGray-bg lightGray">
		<h2 class="lightGray">Or find me at...</h2>
		<p><a target="_blank" href="https://www.linkedin.com/in/emily-kauffman-141b2573">LinkedIn</a></p>
		<p><a target="_blank" href="http://www.instagram.com/kauffee000">Instagram</a></p>
		<p><a target="_blank" href="http://www.github.com/kauffmanes">Github</a></p>
	</div>

</div>