<div>
	
	<h3>
		<a class="strikethrough" href="http://www.highmarkbcbs.com/find-a-doctor" target="_blank">Highmark BCBS - Find A Doctor</a><i class="fa fa-external-link" aria-hidden="true"></i>
	</h3>

	<p>Find a Doctor is an application that's part of the member portal website for Highmark BCBS. It allows you to search for doctors, hospitals, and facilities by location, specialty, and plan.</p>

	<p>This site has been in active development by my team since 2015.</p>

	<div class="details-img orange-bg">
		<img src="../img/findADoctor.png" alt="screenshot of PVD">
	</div>

	<p>
		Project type: <strong>design, development</strong><br>
		Technologies used: <strong>HTML, CSS, jQuery, Adobe Photoshop CC, Angular, Git, Node and NPM, SVG, Mocha, Sinon, and Chai, dgeni</strong>
	</p>

	<div class="details-img">
		<img src="../img/pvd2.png" alt="screenshot of PVD">
	</div>

</div>