<div>
	
	<h3>
		<a class="strikethrough" href="http://www.intrepidem.net" target="_blank">Intrepidem.net</a><i class="fa fa-external-link" aria-hidden="true"></i>
	</h3>

	<p>I like to use my personal portfolio page as a means of showcasing new technologies that I'm learning. Recently
	I've been working with CSS, jQuery, and SVG animations. All three are being used throughout the site.</p>
	
	<p>
		Project type: <strong>design, development</strong><br>
		Technologies used: <strong>AngularJS, HTML5, SVG, jQuery, Adobe Photoshop CC</strong>
	</p>

	<div class="details-img">
		<img src="../img/intrepidem.jpg" alt="screenshot of home page of intrepidem">
	</div>

</div>