<div>
	
	<h3>Lemoyne Community Center</h3>

	<p>The LeMoyne Community Center's mission is to develop, shape, define, and stabilize [the] community with education, arts, health, and recreational programs. The site contains information, including events and the history of the center. My task was to come up with a design for the website, and write all the necessary code.</p>

	<p>This site was retired in 2015.</p>

	<div class="details-img">
		<img src="../img/lem1.png" alt="screenshot of LCC Old Site">
	</div>

	<p>
		Project type: <strong>design, development</strong><br>
		Technologies used: <strong>HTML, CSS, jQuery Slider Library, Adobe Photoshop CS6</strong>
	</p>

	<div class="details-img">
		<img src="../img/lem2.png" alt="screenshot of LCC old site">
	</div>

</div>