<div>
	
	<h3>
		<a href="http://www.parkhurstdining.com/" target="_blank">Parkhurst Dining</a><i class="fa fa-external-link" aria-hidden="true"></i>
	</h3>

	<p>W&amp;J College's dining service, Parkhurst Dining (Eat'n Park), hired me to create advertisements for meal offerings and events, as well as maintain and design a daily menu board.</p>

	<div class="details-img">
		<img src="../img/smileys.png" alt="smiley cookies">
	</div>

	<p>
		Project type: <strong>Graphic design</strong><br>
		Technologies used: <strong>Adobe Photoshop CS6, Adobe InDesign</strong>
	</p>

	<div class="details-img">
		<img src="../img/Cheesesteaks.png" alt="cheesesteaks">
		<img src="../img/halloween.png" alt="halloween promotion">
		<img src="../img/koreantacos.png" alt="korean tacos">
	</div>

	<div class="details-img niceGray-bg">
		<img src="../img/lomein.png" alt="lo mein">
		<img src="../img/ribs.png" alt="ribs">
		<img src="../img/superburger.png" alt="superburger">
	</div>

	<div class="details-img">
		<img src="../img/Sushi.png" alt="sushi">
		<img src="../img/TacoSalad.png" alt="taco salad">
	</div>

</div>