<div class="projects">
	
	<div class="row">

		<div data-ui-sref="project.intrepidem">
			<img src="./img/thumbs/curr-site.jpg" alt="a screenshot of the current website">
			<div>
				<h3>Intrepidem</h3>
				<p class="margin-bottom">web development</p>
			</div>
		</div>

		<div data-ui-sref="project.provider">
			<img src="./img/thumbs/pvd.png" alt="a screenshot of the current website">
			<div>
				<h3>Find A Doctor&reg;</h3>
				<p class="margin-bottom">web development</p>
			</div>
		</div>

		<div data-ui-sref="project.lemoyne">
			<img src="./img/thumbs/lemoyne.png" alt="a screenshot of the current website">
			<div>
				<h3>LCC</h3>
				<p class="margin-bottom">web development</p>
			</div>
		</div>

	</div>

	<div class="row">

		<div data-ui-sref="project.studyworks">
			<img src="./img/thumbs/pht5.png" alt="a screenshot of the current website">
			<div>
				<h3>StudyWorks&reg;</h3>
				<p class="margin-bottom">web development</p>
			</div>
		</div>
		<div data-ui-sref="project.cibola">
			<img src="./img/thumbs/cibola.png" alt="a screenshot of the current website">
			<div>
				<h3>Cibola Data Analysis App</h3>
				<p class="margin-bottom">web development</p>
			</div>
		</div>
		<div data-ui-sref="project.beer">
			<img src="./img/thumbs/beer.png" alt="a screenshot of the current website">
			<div>
				<h3>Beer Labels</h3>
				<p class="margin-bottom">brand design</p>
			</div>
		</div>

	</div>

	<div class="row">

		<div data-ui-sref="project.graphics">
			<img src="./img/thumbs/proj1.png" alt="graphic art thumbnail">
			<div>
				<h3>Graphic Art</h3>
				<p class="margin-bottom">graphic design</p>
			</div>
		</div>

		<div data-ui-sref="project.parkhurst">
			<img src="./img/thumbs/parkhurst.png" alt="graphic design thumbnail">
			<div>
				<h3>Eat'n Park</h3>
				<p class="margin-bottom">graphic design</p>
			</div>
		</div>

		<div data-ui-sref="project.nationalParks">
			<img src="./img/thumbs/sky4.jpg" alt="national parks thumbnail">
			<div>
				<h3>Our National Parks</h3>
				<p class="margin-bottom">photography</p>
			</div>
		</div>

	</div>

</div>