<div>
	
	<h3>StudyWorks&reg;</h3>

	<p>StudyWorks is a product of PHT&reg; that is a "secure online portal of all Electronic Clinical Outcome Assessment (eCOA) data collected by any PHT device" (as is stated on the PHT Corp website). My role in the project was client-side development - building out the user interface and interacting with the powerful backend. Our team followed the Agile development cycle using two week iterations.</p>
	
	<p>
		Project type: <strong>design, development</strong><br>
		Technologies used: <strong>HTML, CSS, jQuery, JavaScript, AngularJS, LESS, Grunt, NPM, Bower, Git, Accurev, Karma/Jasmine, Adobe Photoshop CS6</strong>
	</p>

	<div class="details-img orange-bg">
		<img src="../img/pht1.png" alt="screenshot of StudyWorks">
		<img src="../img/pht2.png" alt="screenshot of StudyWorks">
	</div>

	<p>PHT has since been acquired by the pharmaceutical corporation ERT&reg;, where this particular project was discontinued. I have included it in my portfolio because it was my first large-scale professional project.</p>

	<div class="details-img">
		<img src="../img/pht3.png" alt="screenshot of StudyWorks">
	</div>

	<div class="details-img orange-bg">
		<img src="../img/pht4.png" alt="screenshot of StudyWorks">
	</div>
</div>