<div>
	
	<h3>Josiah Ritchey Brewing Company</h3>

	<p>I created these beer labels for a brew hobbyist named Josiah. Josiash studied Environment Science, and had developed a "slight" affinity for all things insect. These labels reflected those interests.</p>

	<p>These labels were completed in 2015.</p>

	<div class="details-img">
		<img src="../img/beer2.png" alt="Josiah's green beer label">
	</div>

	<p>
		Project type: <strong>Brand design, user research</strong><br>
		Technologies used: <strong>Adobe Photoshop CC</strong>
	</p>

	<div class="details-img niceGray-bg">
		<img src="../img/beer3.png" alt="Josiah's red label beer">
	</div>

</div>