<div class="contact">

	<div>
		<h2>Contact Me</h2>
		<p>Thanks for visiting! I'd love to work with you on a project.</p>
		<p><strong>Email:</strong> <a class="orange" href="mailto:&#107;&#097;&#117;&#102;&#102;&#109;&#097;&#110;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#107;&#097;&#117;&#102;&#102;&#109;&#097;&#110;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
		<p><strong>Location:</strong> Pittsburgh, PA, USA</p>
	</div>

	<div class="niceGray-bg lightGray">
		<h2 class="lightGray">Or find me at...</h2>
		<p><a target="_blank" href="https://www.linkedin.com/in/emily-kauffman-141b2573">LinkedIn</a></p>
		<p><a target="_blank" href="https://www.instagram.com/kauffee000">Instagram</a></p>
		<p><a target="_blank" href="https://www.github.com/kauffmanes">Github</a></p>
		<p><a target="_blank" href="https://www.twitter.com/intrepid_em">Twitter</a></p>
		<p><a target="_blank" href="https://stackoverflow.com/users/3239219/kauffee000">Stack Overflow</a></p>
	</div>

</div>