<div class="contact">

	<div>
		<h2>Contact Me</h2>
		<p>Thanks for visiting! I'd love to work with you on a project.</p>
		<p><strong>Email:</strong> <a class="orange" href="mailto:ma&#105;lt&#111;&#58;emi%6C%79%&#50;E%6B%&#54;1%75ff%6&#68;a&#110;%4&#48;&#105;&#110;%&#55;4%72&#101;p&#37;&#54;&#57;%64em&#46;%63o&#37;6D">&#101;&#109;ily&#46;kauf&#102;&#109;an&#64;intrepi&#100;e&#109;&#46;co&#109;</a></p>
		<p><strong>Location:</strong> Pittsburgh, PA, USA</p>
	</div>

	<div class="niceGray-bg lightGray">
		<h2 class="lightGray">Or find me at...</h2>
		<p><a target="_blank" href="https://www.linkedin.com/in/emily-kauffman-141b2573">LinkedIn</a></p>
		<p><a target="_blank" href="https://www.instagram.com/kauffee000">Instagram</a></p>
		<p><a target="_blank" href="https://www.github.com/kauffmanes">Github</a></p>
		<p><a target="_blank" href="https://www.twitter.com/intrepid_em">Twitter</a></p>
		<p><a target="_blank" href="https://stackoverflow.com/users/3239219/kauffee000">Stack Overflow</a></p>
	</div>

</div>
