<div>

	<h3>
		<a href="http://www.expedient.com" target="_blank">Expedient</a><i class="fa fa-external-link" aria-hidden="true"></i>
	</h3>

	<p>Expedient is a leading IT infrastructure and managed service provider headquartered in Pittsburgh, with 11 data centers in 7 cities . Their services include cloud computing, DRaaS, and colocation. My role on the website was redesigning the resources page, incorporating Virtual Reality tours of their many data centers, and general maintenance and site management.</p>

	<p>To learn more about Expedient, check out their website.</p>

	<div class="details-img">
		<video src="../videos/dublin.mov" autoplay loop></video>
	</div>

	<p>
		Project type: <strong>design, development</strong><br>
		Technologies used: <strong>Wordpress, HTML, CSS, jQuery, PHP, MySQL, Adobe Photoshop CC, Git, SVG</strong>
	</p>

	<div class="details-img">
		<img src="../img/pvd2.png" alt="screenshot of PVD">
	</div>

</div>