<div>
	
	<h3>Graphic Art</h3>

	<p>This is a compilation of graphical artworks completed over the last five years.</p>

	<div class="details-img">
		<img src="../img/proj2.jpg" alt="project 2 image">
	</div>

	<p>
		Project type: <strong>Graphic design, art</strong><br>
		Technologies used: <strong>Adobe Photoshop CS6</strong>
	</p>

	<div class="details-img">
		<img src="../img/abuse.jpg" alt="abuse image">
		<img src="../img/band.jpg" alt="band image">
		<img src="../img/drink.jpg" alt="drink image">
	</div>

	<div class="details-img niceGray-bg">
		<img src="../img/dvd.jpg" alt="abuse image">
		<img src="../img/band.jpg" alt="band image">
		<img src="../img/drink.jpg" alt="drink image">
		<img src="../img/zombie.jpg" alt="zombie image">
	</div>

	<p>The following five belong to a series of postmodern images for a graphic design course at <a href="https://www.washjeff.edu">W&amp;J College.</p>

	<div class="details-img">
		<img src="../img/pm1.jpg" alt="post modern image">
		<img src="../img/pm2.jpg" alt="post modern image">
		<img src="../img/pm4.jpg" alt="post modern image">
		<img src="../img/pm5.jpg" alt="post modern image">
		<img src="../img/pm6.jpg" alt="post modern image">
	</div>

</div>