<div>
	
	<h3>Our State and National Parks</h3>

	<p>I'v been fortunate enough to roadtrip around the United States a few times. These images reflect those journeys.</p>

	<div class="details-img">
		<h4>Arches National Park, 2014</h4>
		<img src="../img/arch.jpg" alt="arches national park">
		<img src="../img/matt-arch.jpg" alt="arches">
		<img src="../img/rock-formation.jpg" alt="colorado">
	</div>

	<p>
		Project type: <strong>Graphic design</strong><br>
		Technologies used: <strong>Adobe Photoshop CS6, Adobe InDesign</strong>
	</p>
	
	<div class="details-img">
		<h4>Chaco Canyon, 2014</h4>
		<img src="../img/blue-lizard.jpg" alt="blue lizard">
	</div>

	<div class="details-img">
		<h4 class="lightGray">Cape Cod, 2015</h4>
		<img src="../img/capecod1.jpg" alt="cape cod">
		<img src="../img/capecod2.jpg" alt="cape cod">
		<img src="../img/capecod3.jpg" alt="cape cod">
	</div>

	<div class="details-img">
		<h4>Colorado River and Grand Canyon, 2014</h4>
		<img src="../img/colorado.jpg" alt="colorado">
		<img src="../img/grandcanyon2.jpg" alt="grand canyon">
	</div>

	<div class="details-img">
		<h4>White Sands, 2014</h4>
		<img src="../img/sandnado.jpg" alt="grand canyon">
		<img src="../img/white-sands.jpg" alt="">
	</div>

	<div class="details-img">
		<h4>Goosenecks, 2014</h4>
		<img src="../img/sarah-at-goosenecks.jpg" alt="arches">
	</div>

</div>
