<div>

	<h3>
		<a href="https://www.ahn.org/locations/west-penn-hospital" target="_blank">West Penn Hospital</a><i class="fa fa-external-link" aria-hidden="true"></i>
	</h3>

	<p>Often in hospitals, signs are attached to doors where specific precautions need to be taken when caring for a patient. These notices are often contain a lot of text, which can lead to them being ignored. This project is aimed at enhancing the design so that they catch attention and improve patient care.</p>

	<p>This is a current project and more graphics will be added as they progress.</p>

	<div class="details-img">
		<img src="../img/contact_precaution.png" alt="screenshot of Expedient resources page">
	</div>

	<p>
		Project type: <strong>Graphic design</strong><br>
		Technologies used: <strong>Adobe Photoshop CC</strong>
	</p>

</div>